.headerTitle {
  margin-top: 2%;
  margin-bottom: 2%;
}
body {
  background-color: #2E2E2E;
	color: white;
	font-family: cursive;
  font-size: 18px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}